[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
gunicorn = "*"
gevent = "*"
psycogreen = "*"
requests = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
geopy = "*"
flask-admin = "*"

[requires]
python_version = "3.10"

[dev-packages]
types-requests = "*"
sqlalchemy-stubs = "*"
fuzzywuzzy-stubs = "*"
